#calendar {
    background-color: #FFF;
}

    #calendar #menu {
        background-color: #D94839;
    }

        #calendar #menu ul li {
            background-color: #E95C4D;
        }

            #calendar #menu ul li:nth-child(5) {
                background-color: #E74C3C;
            }

            #calendar #menu ul li a:hover {
                background-color: #F08080;
            }

    #calendar #topbar {
        background-color: #E74C3C;
    }

    #calendar #container {
        height: 100%;
    }

/*@media(max-width:479px) {
    年月字体大小 #calendar #container .fc-left h2 {
        font-size: 18px;
        line-height: 30px;
    }
}

@media(max-width:767px) {
    事件字体大小 #calendar .fc-day-grid-event > .fc-content {
        font-size: 11px;
    }
}*/