<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="fileStoragePath" value=""/>
    <add key="mailStoragePath" value=""/>
    <add key="mailDomainName" value=""/>
    <add key="mailServerAddress" value=""/>
    <add key="notifyMailAddress" value=""/>
    <add key="notifyMailCredential" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="SAAOConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="SAAMConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Dashboard">
          <match url="^dashboard$"/>
          <action type="Rewrite" url="Default.aspx"/>
        </rule>
        <rule name="Notification">
          <match url="^notification$"/>
          <action type="Rewrite" url="Notification.aspx"/>
        </rule>
        <rule name="Mail">
          <match url="^mail$"/>
          <action type="Rewrite" url="Mail.aspx"/>
        </rule>
        <rule name="File">
          <match url="^file$"/>
          <action type="Rewrite" url="File.aspx"/>
        </rule>
        <rule name="Calendar">
          <match url="^calendar$"/>
          <action type="Rewrite" url="Calendar.aspx"/>
        </rule>
        <rule name="Contact">
          <match url="^contact$"/>
          <action type="Rewrite" url="Contact.aspx"/>
        </rule>
        <rule name="Login">
          <match url="^login$"/>
          <action type="Rewrite" url="Login.aspx"/>
        </rule>
        <rule name="Ajax">
          <match url="^\b(user|mail|file|dashboard|contact|calendar|notification)\b.\b(login|password|logout|list|send|upload|create)\b$"/>
          <action type="Rewrite" url="ajax/{R:1}.ashx?action={R:2}"/>
        </rule>
        <rule name="Ajax2">
          <match url="^\b(mail|file|dashboard|contact|calendar|notification)\b.\b(list|info|attachment|display|delete|update|download|report)\b.(.*)$"/>
          <action type="Rewrite" url="ajax/{R:1}.ashx?action={R:2}&amp;{R:3}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>